/* common style */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* nav style start */

.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 148px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    color: #474747;
}
.color-tomato{
    color: tomato;
    font-size: 2.5rem;
    font-weight: 900;
}
.btn-primary{
    color:white ;
    min-width: 100px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    background:tomato;
    font-size: larger;
    font-weight: 700;
    padding: 0.5rem;
    border: 0;
}
/* nav style end */


/* header style start */
#header-style{
    background-color:#fdbb2d;
}
.banner-content{
    padding: 30px 40px 30px 150px;
    display: flex;
}

.profile{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
    margin-left: 5rem;
    border-radius: 5px;
}



/* header style end */
