/* common style */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* nav style start */

.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    color: #474747;
}
.color-tomato{
    color: tomato;
    font-size: 2.5rem;
    font-weight: 900;
}
.btn-primary{
    color:white ;
    width: 90px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background:tomato;
    font-size: larger;
    font-weight: 500;
}

